doctype html
html(lang='en').w3-light-grey
  head
    title Books
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  body.w3-display-container.w3-display-middle
    h1 Adding a book  
    form(action='/add_book', method='POST')
      div
        label(for='name') Name
        input.w3-input.w3-border#name(type='text', name='name', required='')
      div
        label(for='author') Author
        input.w3-input.w3-border#email(type='text', name='author', required='')
      div
        label(for='genre') Genre
        input.w3-input.w3-border#genre(type='text', name='genre', required='')
      div.div.w3-margin-top
        label(for='In Library') In Library:
          label.w3-margin-left(for='Yes') Yes
          input.w3-margin-left.w3-radio#inLibrary(type='radio', name='inLibrary', value='Yes')
          label.w3-margin-left(for='No') No
          input.w3-margin-left.w3-radio#inLibrary(type='radio', name='inLibrary', value='No')
      div.w3-margin-top
        label(for='Given To') Give To
        select.w3-select.w3-border#users(name='users')
          option(value='noone')
          each user in users
            option(value=user.name) #{user.name}
      div
        label(for='returnDate') Return to
        input.w3-input.w3-border#returnDate(type="date", name='returnDate')
      button.w3-margin-top.w3-button.w3-green(type='submit', style='width: 100%') Add book
      a.w3-button.w3-blue.w3-margin-top(href='/', style='width: 100%') Go back