doctype html
html(lang='en').w3-light-grey
  head
    title Books
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  body
    form.w3-display-container.w3-display-middle(action='/login', method='POST')
      div.w3-padding-32
        h1.w3-text-blue Login
        #messages
        if messages.error 
          p.w3-red= messages.error
        div
          label.w3-text-blue(for='email') Email
              input.w3-input.w3-border#email(type='email', name='email', required='')
        br
        div
          label.w3-text-blue(for='password') Password
              input.w3-input.w3-border#password(type='password', name='password', required='')
        br
        button.w3-button.w3-green(type='submit', style='width: 100%') Sign In
        a.w3-button.w3-blue.w3-right.w3-margin-top(href='/register', style='width: 100%') Sign Up